/*body, td, th {  font: 12px Helvetica,Arial,sans-serif;  line-height: 1.62;  }*/
a:visited {  color: #666699;  text-decoration: none;  }
a:link {  color: #37a;  text-decoration: none;  }
a {  cursor: pointer;  }
ol{list-style-type: none}

.mov_name{word-wrap: break-word; display: block;  font-size: 25px;  font-weight: bold;  color: #494949;  margin: 0;  padding: 0 0 15px 0;  line-height: 1.1;}
.year{color: #888;display: inline-block;    zoom: 1;}
.mainpic{float: left;  text-align: center;  margin: 3px 12px 0 0;  max-width: 155px;  overflow: hidden;}
.mainpic a img{    margin-bottom: 10px;}
.mainpic img{    max-width: 100px;}
.info{float: left;  max-width: 248px;  word-wrap: break-word;}
.info_list{  display: block;}
.pl {  font: 12px Arial, Helvetica, sans-serif;  line-height: 150%;  color: #666666;  }
.indent {  word-break: break-all;  }
.clearfix {  clear: both; }
.b_10_3{float: left;}
form#search_form {  float: left; margin-left: 20px; }
.form_input{display: block;margin-top: 10px;}
#search_word{
    background: linear-gradient(#333, #222);  border: 1px solid #444;  border-radius: 5px 0 0 5px;
    box-shadow: 0 2px 0 #000;  color: #888;  display: block;  float: left;  font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;  font-weight: 400;  height: 40px;  margin: 0;  padding: 0 10px;  text-shadow: 0 -1px 0 #000;  width: 200px;
}

