<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!--<script src="{{ url_for('static', filename='tagcanvas.min.js') }}"></script>-->
    <script src="{{ url_for('static', filename='jquery-1.6.2.min.js') }}"></script>
    <link href="{{ url_for('static', filename='list.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" media="screen">
    <link rel="archives" title="December 2010" href="http://pro.towfiqi.com/?m=201012">
    <link rel="stylesheet" href="{{ url_for('static', filename='lobster.css') }}" type="text/css" media="screen">
    <script type="text/javascript">
        window.onload=function(){
            var castList= getElementByClassName('attrs');
            for(var i=0;i<castList.length;i++){
                var flag=0;
                var item=castList[i];
                var casts=item.getElementsByTagName('span');
                for(var j=0;j<casts.length;j++) {
                    if (j > 3) {
                        cast=casts[j];
                        try {
                            cast.style.display = 'none';
                        }
                        catch (err){
                            alert(j)
                        }
                        flag = 1;
                    }
                }
                if(flag==1){
                    var para=document.createElement("a");
                    var node=document.createTextNode("更多...");
                    para.appendChild(node);
                    para.className="more-attr";
                    para.onclick=function () {
                        var a=this;
                        var list=a.parentNode;
                        var chils=list.childNodes;
                        for(var n=0;n<chils.length;n++) {
                            try {
                                chils[n].style.display = "inline-block"
                            }
                            catch (err){

                            }
                        }
                        a.style.display="none"
                    };
                    item.appendChild(para);
            }
            }

        };
        function getElementByClassName(classnames){
            var objArray= new Array();//定义返回对象数组
            var tags=document.getElementsByTagName("*");//获取页面所有元素
            var index = 0;
            for(var i in tags){
                if(tags[i].nodeType==1){
                    if(tags[i].getAttribute("class") == classnames){ //如果某元素的class值为所需要
                        objArray[index]=tags[i];
                        index++;
                    }
                }
            }
            return objArray;
}
    </script>
    <title>推荐列表</title>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <h1><a id="logout" href="{{ url_for('logout') }}">Logout</a></h1>
    <div id="logo">
        <h1> <a >Recommended List  For &nbsp; {{realName}}</a>
    </h1></div>

    </div>

    <div id="movie_list">
    <ol>
        {% for subject in data %}
        <li>
            <div class="subject">
                <div class="mov_name">
                <span property="v:itemreviewed">{{ subject['title'] }}</span>
                <span class="year">{{ subject['year'] }}</span>
            </div>
                <div  class="mainpic">
                    <a class="nbgnbg" href="#">
                        <img src="{{ subject['img'] }}" title="点击看更多海报" alt="海报" rel="v:image">
                   </a>
                </div>
            {% if subject['directory'] %}
                <div class="info">
                    <span class="info_list">
                        <span class="pl">导演</span>:
                        <span class="attrs">
                            {% for item in subject['directory'] %}
                                <span>
                            <a rel="v:directedBy">{{ item }}</a>
                                {% if item!=subject['directory'][-1] %} / {% endif %}
                                 </span>
                            {% endfor %}
                        </span>
                    </span>
                {% endif %}
                {% if subject['writer'] %}
                    <span class="info_list">
                        <span class="pl">编剧</span>:
                        <span class="attrs">
                            {% for item in subject['writer'] %}
                                <span>
                            <a>{{ item }}</a>
                                {% if item!=subject['writer'][-1] %} / {% endif %}
                                 </span>
                            {% endfor %}
                        </span>
                    </span>
                {% endif %}
                {% if subject['cast'] %}
                <span class="actor"><span class='pl'>主演</span>:
                    <span class='attrs'>
                        {% for item in subject['cast'] %}
                            <span class="cast">
                        <a  rel="v:starring">{{ item }}</a>
                            {% if item!=subject['cast'][-1] %} / {% endif %}
                            </span>
                        {% endfor %}
                    </span>
                </span>
                    <br/>
                {% endif %}

            {% if subject['genres'] %}
                <span class="pl">类型:</span>
                {% for item in subject['genres'] %}
                    <span property="v:genre">{{ item }}
                    {% if item!=subject['genres'][-1] %} / {% endif %}
                </span>
                    {% endfor %}
                <br/>
                  {% endif %}
            {% if subject['country'] %}
                 <span class="pl">制片国家/地区:</span>
                     {% for item in subject['country'] %}
                    <span property="v:genre">{{ item }}
                    {% if item!=subject['country'][-1] %} / {% endif %}
                    </span>
                    {% endfor %}
                <br/>
            {% endif %}
    {% if subject['language'] %}
                <span class="pl">语言:</span>
                     {% for item in subject['language'] %}
                    <span property="v:genre">{{ item }}
                    {% if item!=subject['language'][-1] %} / {% endif %}
                    </span>
                    {% endfor %}
                <br/>
    {% endif %}
                <span class="pl">上映年份:{{ subject['year'] }}年</span><br/>
                <span class="pl">片长:{{ subject['length'] }}年</span><br/>
                <span class="pl">又名:{{ subject['aka'] }}年</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </li>
        {% endfor %}
    </ol>
        </div>
</div>
</div>
</body>
</html>