<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<script src="{{ url_for('static', filename='tagcanvas.min.js') }}"></script>-->
    <script src="{{ url_for('static', filename='jquery-1.6.2.min.js') }}"></script>

    <link href="{{ url_for('static', filename='login.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" media="screen">
    <link rel="archives" title="December 2010" href="http://pro.towfiqi.com/?m=201012">
    <link rel="stylesheet" href="{{ url_for('static', filename='lobster.css') }}" type="text/css" media="screen">

     <title>推荐列表</title>
</head>


<body>
<div id="wrapper">
    <div id="header">
    <div id="logo"><h1>    <a href="http://pro.towfiqi.com">Amphion</a>
    </h1></div>
    </div>
    <div class="clear" style="clear: both"></div>
    <section id="login_content">
		<form action="{{ url_for('login') }}" method="post">
			<h1>Login Form</h1>
			<div>
				<input type="text" placeholder="Username" required="" id="username" name="username" />
			</div>
			<div>
				<input type="password" placeholder="Password" required="" id="password" name=password />
			</div>
			<div>
				<input type="submit" value="Log in" />
				<a href="#">Lost your password?</a>
				<a href="#">Register</a>
			</div>
		</form><!-- form -->
		<div class="button">
		</div><!-- button -->
	</section><!-- content -->
</div>
</body>
</html>